<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Dashboard de Sensores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let i of dados">
        
        <ion-card class="sensor-card">
          <ion-card-header>
            <ion-card-title>Leitura Atual</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <ion-item lines="none">
              <ion-label>Temperatura:</ion-label>
              <ion-badge slot="end" color="warning">{{i["temperatura"]}} °C</ion-badge>
            </ion-item>
            
            <ion-item lines="none">
              <ion-label>Umidade:</ion-label>
              <ion-badge slot="end" color="secondary">{{i["umidade"]}} %</ion-badge>
            </ion-item>
            
            <ion-item lines="none">
              <ion-label>PH:</ion-label>
              <ion-badge slot="end" color="tertiary">{{i["PH"]}}</ion-badge>
            </ion-item>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>