<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let i of dados">
    <p>temperatura: {{i["temperatura"]}}</p>
    <p>umidade: {{i["umidade"]}}</p>
    <p>PH: {{i["PH"]}}</p>
  </div>

  <ion-datetime presentation="date" [(ngModel)]="dataSelecionada"></ion-datetime>
  <ion-button (click)="getData(dataSelecionada)">Default</ion-button>

  <div *ngFor="let d of dataSelecionada">
    <p>Data selecionada: {{d}}</p>

  </div>

</ion-content>